#### 関連指標の読み込み

In [1]:
import pandas as pd

In [2]:
#import os
#csv_path_trend = ("./associated_data/Industry_indicator_data/")
#
#count = 0
#for file_name in os.listdir("./associated_data/Industry_indicator_data"):
#    if file_name.endswith(".csv"): 
#        df_temp = pd.read_csv(csv_path_trend + "/"+ file_name)#, header=None, header=0
#        print(csv_path_trend + "/"+ file_name)
#        print(df_temp)
#        if count == 0:
#            df_indicator= df_temp
#        else:
#            df_indicator = pd.concat([df_indicator, df_temp], axis = 1, ignore_index=True)
#        count += 1
#
#一旦書き出し
#print(df_indicator)
#display(df_indicator)
#df_indicator.to_csv('./associated_data/dataframe_indicator.csv', index=False)#, header=False, index=False

In [3]:
#一つ一つやるしかない（それぞれ形式が異なるため）
#https://www.mhlw.go.jp/stf/covid-19/open-data.html

csv_path_trend = ("./associated_data/Industry_indicator_data/")
file_name = "pcr_positive_daily.csv"
df_indicator = pd.read_csv(csv_path_trend + "/"+ file_name)#, header=None, header=0

#一旦書き出し
thema = "コロナ"
additional_file_name = "./associated_data/dataframe_indicator_" + thema + ".csv"

#print(df_indicator)
#display(df_indicator)
df_indicator.to_csv(additional_file_name, index=False)#, header=False, index=False

#もう一度読み込み
df_indicator_csv_1 = pd.read_csv(additional_file_name)#, index_col=0
#print(df_test[:]["avex: (日本)"])
display(df_indicator_csv_1)

            日付  PCR 検査陽性者数(単日)
0    2020/1/16               1
1    2020/1/17               0
2    2020/1/18               0
3    2020/1/19               0
4    2020/1/20               0
..         ...             ...
370  2021/1/20            5532
371  2021/1/21            5662
372  2021/1/22            4803
373  2021/1/23            4696
374  2021/1/24            3987

[375 rows x 2 columns]

In [4]:
#日付変換
df_indicator_csv_1['日付'] = df_indicator_csv_1["日付"].apply(lambda w: pd.to_datetime(w))
df_indicator_csv_1

            日付  PCR 検査陽性者数(単日)
0   2020-01-16               1
1   2020-01-17               0
2   2020-01-18               0
3   2020-01-19               0
4   2020-01-20               0
..         ...             ...
370 2021-01-20            5532
371 2021-01-21            5662
372 2021-01-22            4803
373 2021-01-23            4696
374 2021-01-24            3987

[375 rows x 2 columns]

In [5]:
#https://indexes.nikkei.co.jp/nkave/index?type=download

#csv_path_trend = ("./associated_data/Industry_indicator_data/")
file_name = "nikkei_stock_average_daily_jp.csv"
df_indicator = pd.read_csv(csv_path_trend + "/"+ file_name, encoding="shift-jis")#, header=None, header=0

#一旦書き出し
thema = "日経平均株価"
additional_file_name = "./associated_data/dataframe_indicator_" + thema + ".csv"

#print(df_indicator)
#display(df_indicator)
df_indicator.to_csv(additional_file_name, index=False)#, header=False, index=False

#もう一度読み込み
df_indicator_csv_2 = pd.read_csv(additional_file_name)#, index_col=0
#print(df_test[:]["avex: (日本)"])
display(df_indicator_csv_2)

,データ日付,終値,始値,高値,安値
0,2018/01/04,23506.33,23073.73,23506.33,23065.20
1,2018/01/05,23714.53,23643.00,23730.47,23520.52
2,2018/01/09,23849.99,23948.97,23952.61,23789.03
3,2018/01/10,23788.20,23832.81,23864.76,23755.45
4,2018/01/11,23710.43,23656.39,23734.97,23601.84
...,...,...,...,...,...
741,2021/01/21,28756.86,28710.41,28846.15,28677.61
742,2021/01/22,28631.45,28580.20,28698.18,28527.16
743,2021/01/25,28822.29,28698.89,28822.29,28566.85
744,2021/01/26,28546.18,28696.30,28740.71,28527.81
745,本資料は日経の著作物であり、本資料の全部又は一部を、いかなる形式によっても日経に無断で複写、...,NaN,NaN,NaN,NaN

In [6]:
# 最終行削除
print(type(df_indicator_csv_2))
df_indicator_csv_2 = df_indicator_csv_2.drop(df_indicator_csv_2.index[745])
print(df_indicator_csv_2)

#日付変換
df_indicator_csv_2['データ日付'] = df_indicator_csv_2["データ日付"].apply(lambda w: pd.to_datetime(w))
df_indicator_csv_2

<class 'pandas.core.frame.DataFrame'>
          データ日付        終値        始値        高値        安値
0    2018/01/04  23506.33  23073.73  23506.33  23065.20
1    2018/01/05  23714.53  23643.00  23730.47  23520.52
2    2018/01/09  23849.99  23948.97  23952.61  23789.03
3    2018/01/10  23788.20  23832.81  23864.76  23755.45
4    2018/01/11  23710.43  23656.39  23734.97  23601.84
..          ...       ...       ...       ...       ...
740  2021/01/20  28523.26  28798.74  28801.19  28402.11
741  2021/01/21  28756.86  28710.41  28846.15  28677.61
742  2021/01/22  28631.45  28580.20  28698.18  28527.16
743  2021/01/25  28822.29  28698.89  28822.29  28566.85
744  2021/01/26  28546.18  28696.30  28740.71  28527.81

[745 rows x 5 columns]

         データ日付        終値        始値        高値        安値
0   2018-01-04  23506.33  23073.73  23506.33  23065.20
1   2018-01-05  23714.53  23643.00  23730.47  23520.52
2   2018-01-09  23849.99  23948.97  23952.61  23789.03
3   2018-01-10  23788.20  23832.81  23864.76  23755.45
4   2018-01-11  23710.43  23656.39  23734.97  23601.84
..         ...       ...       ...       ...       ...
740 2021-01-20  28523.26  28798.74  28801.19  28402.11
741 2021-01-21  28756.86  28710.41  28846.15  28677.61
742 2021-01-22  28631.45  28580.20  28698.18  28527.16
743 2021-01-25  28822.29  28698.89  28822.29  28566.85
744 2021-01-26  28546.18  28696.30  28740.71  28527.81

[745 rows x 5 columns]

#### 指標の結合

In [7]:
import pandas as pd

d='2015-01-08 22:44:09' 
d='2015-01-08 22:44:09'
date=pd.to_datetime(d).date()
print(date)

2015-01-08

In [8]:
from datetime import datetime, timedelta

#日付だけのデータフレームを作成
date_list = [datetime(2020, 1, 1, hour=0, minute=0, second=0) + timedelta(days=i) for i in range(397)]
df_index_date = pd.DataFrame(date_list, columns = ["date"])
#print(date_str_list)
display(df_index_date)

          date
0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
..         ...
392 2021-01-27
393 2021-01-28
394 2021-01-29
395 2021-01-30
396 2021-01-31

[397 rows x 1 columns]

In [9]:
df_index_date['date'] = df_index_date["date"].apply(lambda w: pd.to_datetime(w))
df_index_date

          date
0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
..         ...
392 2021-01-27
393 2021-01-28
394 2021-01-29
395 2021-01-30
396 2021-01-31

[397 rows x 1 columns]

In [10]:
# 結合用コード

#コロナ
columns_list = df_indicator_csv_1.columns.values

for c in range(1, len(columns_list)):
    df_index_date[columns_list[c]] = ''

for i in range(len(df_indicator_csv_1)):
#for i in range(30):
    for j in range(len(df_index_date)):
    #for j in range(30):
        if df_indicator_csv_1.iloc[i]["日付"] == df_index_date.iloc[j]["date"]:
            for f in range(1, len(columns_list)):
                df_index_date.loc[j, columns_list[f]] = df_indicator_csv_1.loc[i, columns_list[f]]

display(df_index_date.head(30))
display(df_index_date.tail(30))

         date PCR 検査陽性者数(単日)
0  2020-01-01
1  2020-01-02
2  2020-01-03
3  2020-01-04
4  2020-01-05
5  2020-01-06
6  2020-01-07
7  2020-01-08
8  2020-01-09
9  2020-01-10
10 2020-01-11
11 2020-01-12
12 2020-01-13
13 2020-01-14
14 2020-01-15
15 2020-01-16              1
16 2020-01-17              0
17 2020-01-18              0
18 2020-01-19              0
19 2020-01-20              0
20 2020-01-21              0
21 2020-01-22              0
22 2020-01-23              0
23 2020-01-24              1
24 2020-01-25              1
25 2020-01-26              1
26 2020-01-27              0
27 2020-01-28              3
28 2020-01-29              1
29 2020-01-30              3

          date PCR 検査陽性者数(単日)
367 2021-01-02           3045
368 2021-01-03           3127
369 2021-01-04           3302
370 2021-01-05           4885
371 2021-01-06           5946
372 2021-01-07           7537
373 2021-01-08           7844
374 2021-01-09           7278
375 2021-01-10           6090
376 2021-01-11           4851
377 2021-01-12           4521
378 2021-01-13           5841
379 2021-01-14           6598
380 2021-01-15           6741
381 2021-01-16           6987
382 2021-01-17           5751
383 2021-01-18           4917
384 2021-01-19           5300
385 2021-01-20           5532
386 2021-01-21           5662
387 2021-01-22           4803
388 2021-01-23           4696
389 2021-01-24           3987
390 2021-01-25
391 2021-01-26
392 2021-01-27
393 2021-01-28
394 2021-01-29
395 2021-01-30
396 2021-01-31

In [11]:
print(type(df_indicator_csv_2.iloc[0]["データ日付"]))
print(type(df_index_date.iloc[0]["date"]))


# 結合用コード

#日経平均
columns_list = df_indicator_csv_2.columns.values

for c in range(1, len(columns_list[1])):
    df_index_date[columns_list[c]] = ''

for i in range(480, len(df_indicator_csv_2)):
#for i in range(100):
    for j in range(len(df_index_date)):
    #for j in range(30):
        if df_indicator_csv_2.iloc[i]["データ日付"] == df_index_date.iloc[j]["date"]:
            #for f in range(1, len(columns_list)):
            df_index_date.loc[j, columns_list[1]] = df_indicator_csv_2.loc[i, columns_list[1]]

display(df_index_date.head(30))
display(df_index_date.tail(30))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

         date PCR 検査陽性者数(単日)       終値
0  2020-01-01
1  2020-01-02
2  2020-01-03
3  2020-01-04
4  2020-01-05
5  2020-01-06                 23204.9
6  2020-01-07                 23575.7
7  2020-01-08                 23204.8
8  2020-01-09                 23739.9
9  2020-01-10                 23850.6
10 2020-01-11
11 2020-01-12
12 2020-01-13
13 2020-01-14                 24025.2
14 2020-01-15                 23916.6
15 2020-01-16              1  23933.1
16 2020-01-17              0  24041.3
17 2020-01-18              0
18 2020-01-19              0
19 2020-01-20              0  24083.5
20 2020-01-21              0  23864.6
21 2020-01-22              0  24031.3
22 2020-01-23              0  23795.4
23 2020-01-24              1  23827.2
24 2020-01-25              1
25 2020-01-26              1
26 2020-01-27              0  23343.5
27 2020-01-28              3  23215.7
28 2020-01-29              1  23379.4
29 2020-01-30              3  22977.8

          date PCR 検査陽性者数(単日)       終値
367 2021-01-02           3045
368 2021-01-03           3127
369 2021-01-04           3302  27258.4
370 2021-01-05           4885  27158.6
371 2021-01-06           5946  27055.9
372 2021-01-07           7537  27490.1
373 2021-01-08           7844    28139
374 2021-01-09           7278
375 2021-01-10           6090
376 2021-01-11           4851
377 2021-01-12           4521  28164.3
378 2021-01-13           5841  28456.6
379 2021-01-14           6598  28698.3
380 2021-01-15           6741  28519.2
381 2021-01-16           6987
382 2021-01-17           5751
383 2021-01-18           4917  28242.2
384 2021-01-19           5300  28633.5
385 2021-01-20           5532  28523.3
386 2021-01-21           5662  28756.9
387 2021-01-22           4803  28631.5
388 2021-01-23           4696
389 2021-01-24           3987
390 2021-01-25                 28822.3
391 2021-01-26                 28546.2
392 2021-01-27
393 2021-01-28
394 2021-01-29
395 2021-01-30
396 2021-01-31

In [12]:
#一旦書き出し
additional_file_name = "./associated_data/dataframe_indicator_index.csv"
df_index_date.to_csv(additional_file_name, index=False)#, header=False, index=False